## 파이썬 프로그래밍의 기초, 자료형 

### 1. 숫자형 (Number)

In [1]:
# 사칙연산 

a = 3
b = 4
a + b

7

In [2]:
a - b

-1

In [3]:
a * b

12

In [4]:
a / b

0.75

In [5]:
# 연산자, power 

a = 3 
b = 4
a ** b

81

In [6]:
# 나눗셈 후 나머지를 반환하는 % 연산자 

7 % 3

1

In [7]:
# 나눗셈 후 몫을 반환하는 // 연산자 

7 // 4

1

In [8]:
# 복합 연산자 

a = 1

a = a + 1 
print(a)

2

In [10]:
a = 1 
a += 1  # same as a = a + 1  
print(a)

2

In [11]:
a = 1 
a -= 1  # same as a = a - 1
print(a)

0

### 2. 문자열 (String)

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때 

1 ) 문자열에 작은 따옴표 포함하기 - 큰따옴표 안에 들어있는 작은따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.

In [13]:
food = "Python's favourite food is perl"
print(food)

Python's favourite food is perl

In [15]:
food = 'Python's favourite food is perl'
print(food)

SyntaxError: unterminated string literal (detected at line 1) (2416783730.py, line 1)

2 ) 문자열에 큰따옴표 포함하기 - 작은따옴표 안에 사용된 큰따옴표는 문자열을 만드는 기호로 인식되지 않는다.

In [18]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

3 ) 역슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함하기 - 역슬래시를 작은따옴표나 큰따옴표 앞에 삽입하면 역슬래쉬 뒤의 작은따옴표나 큰따옴표는 문자열을 둘러싸는 기호의 의미가 아니라 '나 "자체를 뜻하게 된다.

In [19]:
food = 'Python\'s favourite food is perl'
print(food)

Python's favourite food is perl

### 여러 줄인 문자열을 변수에 대입하고 싶을 때 

1 ) 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [21]:
multiline = 'Life is too short\nYou need python'
print(multiline)

Life is too short
You need python

2 ) 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기

In [24]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [25]:
multipline = """
Life is too short
You need python
"""
print(multipline)

Life is too short
You need python

### 문자열 연산하기

In [26]:
# 문자열 더해서 연결하기 

head = 'Python'
tail = ' is fun!'
head + tail

'Python is fun!'

In [27]:
# 문자열 곱하기 

a = 'python'
a * 2

'pythonpython'

In [28]:
# 문자열 곱하기를 응용하기 

print('=' * 50)
print('My programme')
print('=' * 50)

==================================================
My programme
==================================================

In [29]:
# 문자열 길이 구하기 

a = 'Life is too short'
len(a)

17

문자열 인덱싱과 슬라이싱 

인덱싱(indexing)이란 무엇인가를 '가리킨다', 슬라이싱(slicing)은 무엇인가를 '잘라낸다'는 의미이다.

In [30]:
# 문자열 인덱싱 

a = 'Life is too short, You need Python'
a[3]

'e'

In [31]:
a[4]

' '

In [32]:
a[-1]

'n'

In [33]:
a[-4]

't'

In [34]:
# 문자열 슬라이싱 

a = 'Life is too short, you need python'
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [35]:
a[:4]

'Life'

In [36]:
a[:]

'Life is too short, you need python'

In [37]:
a[:-1]

'Life is too short, you need pytho'

In [40]:
# 슬라이싱으로 문자열 나누기 

a = '20230331Rainy'
date = a[:8]
weather = a[8:]
date

'20230331'

In [41]:
weather

'Rainy'

In [42]:
a = 'Pithon'
a[:1]

'P'

In [43]:
a[2:]

'thon'

In [44]:
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅

In [51]:
# 숫자 바로 대입 
# %d: 문자열 포맷코드 

'I eat %d apples.' % 3

'I eat 3 apples.'

In [52]:
# 문자열 바로 대입 

'I eat %s apples.' % 'five'

'I eat five apples.'

숫자를 넣으려면 %d  
숫자, 문자를 넣으려면 %s

In [53]:
# 숫자값을 나타내는 변수로 대입

number = 3
'I eat %d apples' % number

'I eat 3 apples'

In [54]:
# 2개 이상의 값 넣기

number = 10
day = 'three'
'I ate %d apples. so I was sick for %s days.' % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [55]:
# %d와 %를 같이 쓸 때 : %% 사용

'Error is %d%.' % 98

ValueError: incomplete format

In [56]:
'Error is %d%%.' % 98

'Error is 98%.'

### 포맷코드와 숫자 함께 사용하기

In [57]:
# 정렬과 공백 

'%10s' % 'hi'

'        hi'

In [58]:
'%-10sjane.' % 'hi'

'hi        jane.'

In [63]:
# 소수점 표현하기 - .는 소수점 포인트, 그뒤 숫자 4는 소수점 뒤에 나올 숫자의 개수, 소수점 포인트 앞의 숫자는 문자열의 전체 길이. 0은 길이에 상관하지 않겠다는 의미

'%0.4f' % 3.42134234

'3.4213'

In [62]:
'%10.4f' % 3.42134234

'    3.4213'

### format 함수를 사용한 포매팅

In [64]:
# 숫자 바로 대입하기 

'I eat {0} apples'.format(3)

'I eat 3 apples'

In [ ]:
# 문자열 바로 대입하기

'I eat {0} apples'.format('five')

'I eat five apples'

In [67]:
# 숫자값을 가진 변수로 대입하기 

number = 3
'I eat {0} apples'.format(number)

'I eat 3 apples'

In [68]:
# 2개 이상의 값 넣기

number = 10
day = 'three'
'I ate {0} apples. so I was sick for {1} days.'.format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [69]:
# 이름으로 넣기

'I ate {number} apples. so I was sick for {day} days.'.format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [70]:
# 인덱스와 이름을 혼용해서 넣기

'I ate {0} apples. so I was sick for {day} days.'.format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [74]:
# 왼쪽 정렬 - 왼쪽 정렬, 문자열 총 자릿수 10

'{0:<10}'.format('hi')

'hi        '

In [75]:
# 오른쪽 정렬 
'{0:>10}'.format('hi')

'        hi'

In [76]:
# 가운데 정렬

'{0:^10}'.format('hi')

'    hi    '

In [77]:
# 공백 채우기

'{0:=^10}'.format('hi')

'====hi===='

In [78]:
'{0:!<10}'.format('hi')

'hi!!!!!!!!'

In [80]:
# 소수점 표현하기

y = 3.42134234
'{0:0.4f}'.format(y)

'3.4213'

In [81]:
# {또는} 문자 표현하기

'{{ and }}'.format()

'{ and }'

In [82]:
# f문자열 포매팅 

name = 'Jean'
age = 20
f'My name is {name}. I am {age} years old.'

'My name is Jean. I am 20 years old.'

In [83]:
age = 30
f'I will be {age + 1} years old next year'

'I will be 31 years old next year'

In [84]:
d = {'name': 'Jean', 'age': 30}
f'My name is {d["name"]}. I am {d["age"]} years old.'

'My name is Jean. I am 30 years old.'

In [86]:
# Adding , to numbers

f'I need {150000:,} poounds'

'I need 150,000 poounds'

### 문자열 관련 함수들

In [87]:
# 문자 개수 세기 - count

a = 'hobby'
a.count('b')

2

In [89]:
# 위치 알려주기 1 - find

a = 'Python is the best choice'
a.find('P')

0

In [90]:
# 위치 알려주기 2 - index

a = 'Life is too short'
a.index('f')

2

In [92]:
# 문자열 삽입 - join - abcd 문자열 각각의 문자 사이에 , 삽입

','.join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [93]:
# 소문자를 대문자로 바꾸기 - upper

a = 'hi'
a.upper()

'HI'

In [94]:
# 대문자를 소문자로 바꾸기 - lower

a = 'HI'
a.lower()

'hi'

In [95]:
# 왼쪽 공백 지우기 - lstrip

a = ' hi '
a.lstrip()

'hi '

In [96]:
# 오른쪽 공백 지우기 - rstrip

a = ' hi '
a.rstrip()

' hi'

In [97]:
# 양쪽 공백 지우기 - strip

a = ' hi '
a.strip()

'hi'

In [98]:
# 문자열 바꾸기 - replace

a = 'Life is too short'
a.replace('Life', 'Your leg')

'Your leg is too short'

In [101]:
# 문자열 나누기 - split

a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']

In [103]:
b = 'a:b:c:d'
b.split(':')

['a', 'b', 'c', 'd']

In [104]:
# 문자열이 알파벳으로만 구성되어있는지 화인하기 - isalpha

s = 'Python'
s.isalpha()

True

In [105]:
s = 'Python3'
s.isalpha()

False

In [106]:
s = 'Hellow World'
s.isalpha()

False

In [107]:
# 문자열이 숫자로만 구성되어 있는지 확인하기 - isdigit

s = '12345'
s.isdigit()

True

In [108]:
s = '1234a'
s.isdigit()

False

In [109]:
s = '12 34'
s.isdigit()

False

In [111]:
# 문자열이 특정 문자(열)로 시작하는지 확인하기 - starstwith

s = 'Life is too short'
s.startswith('Life')

True

In [112]:
s.startswith('short')

False

In [113]:
# 문자열이 특정 문자(열)로 끝나는지 확인하기 - endswith

s = 'Life is too short'
s.endswith('short')

True

In [114]:
s.endswith('too')

False